body {
  background-image: url(../img/meetrika-bg.jpg) !important;
  overflow: hidden;
  background-size: cover;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.panel-login {
  width: 620px;
  height:125px;
  margin: 0 auto;
  position: relative;
  padding-top: 270px;
}

.panel-login .form-group .form-control {
  float: left;
  width: auto!important;
  margin-right: 5px;
  font-size: 12px;
    padding: 14px 27px;
}

#PANELLOGIN > a {
  display: block;
  float: left;
  width: 405px;
  height: 45px;
  background-color: #63afb5;
  color: #ffffff !important;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  margin-top: 4px;
  font-weight: bold;
  font-size: 1rem !important;
}

#PANELLOGIN > a:hover {
  background-color: #0f5656;
}

.logo img {
  float:left;
  margin-right: 10px;
}

.form-group input {
  float: left;
}

#CHECKBOX {
  float: left;
}

#CHECKBOX > a{
  font-size: 12px;
  color: #fff !important;
  padding-left: 5px;
}

#CHECKBOX > label {
  color: #fff;
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

#vKEEPMELOGGEDIN{
	margin-right: 5px;
}
