/* ---------------- top -------------- */
 .oatgrid_top_div {
 	box-shadow: 3px 3px 3px #999999;
	/*box-shadow: 0px 0px 0px #FFFFFF;*/
	-webkit-box-shadow: 3px 3px 3px #999999;
	width:396px;
	border-radius: 3px 3px 0 0;
	height: 21px;
	border: 1px solid #888;
	padding: 1px;
	border-bottom: none;
	font-family: Verdana;
	font-size: 13px;
	/*font-style: italic;*/
	color: black;
	cursor: default !important;
	background-color: #D9DADB;
    background-image: url("degrade_submenu_gris.png");
    background-repeat: repeat-x;
	/*margin-bottom: 2px;	*/
	/*color: #888888;*/
 }

/* ---------------- table -------------- */
/*table.oatgrid {*/
.oatgrid {
	box-shadow: 3px 3px 3px #999999;
	-webkit-box-shadow: 3px 3px 3px #999999;
	border-collapse: collapse;
	margin-bottom: 9px;
	/*font: menu;*/
	min-width:400px;
}

.divIeContainer {
	display: inline-block;
	box-shadow: 3px 3px 3px #999999;
	margin-bottom: 9px;
}
/* ---------------- rows -------------- */
.oatgrid tr {
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
	line-height: 22px;
}
/*.oatgrid tr.even {*/
.oatgrid .even {
	background-color: #EBEBEB;
	font-family: Verdana;
	font-size: 10pt; /*10px;*/
	color: #404040;
}
/*.oatgrid tr.odd {*/
.oatgrid .odd {
	background-color: #FEFEFE;
	font-family: Verdana;
	font-size: 10pt; /*10px;*/
	color: #404040;
}
.oatgrid tr.hover {
	background-color: #443435; 	/*#d4ffaa*/
	color: #FEFEFE;
}
.oatgrid tr.selected {
	background-color: #ff0000;/*#d4ffaa;*/
	color: #FEFEFE;
}
/* ---------------- cols -------------- */
.oatgrid thead td {
	background-color: #ebeadb;
	font-weight: bold;
	/*
	background-image: url("../images/Grid_header.gif");
	background-position: 0% 100%;
	background-repeat: repeat-x;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	*/
	border: 1px solid #404040;
}
/*.oatgrid thead td.hover {
	background-image: url("../images/Grid_header_hover.gif");
}*/
.oatgrid td {
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
	padding: 0px;
}
.oatgrid td.index {
	background-color: #aaa;
}
.oatgrid .header_value {
	/*padding: 2px 3px;*/
	padding: 2px 12px;
	background: url("degrade_barra_negro.png") repeat-x scroll 0 0 #5C5D5F;
	font-family: Verdana;
	/*color: black;*/
	font-size: 10pt;
	color: #E0E0E0;
	font-weight: normal;
	line-height: 44px;
	text-align: center;
}
.oatgrid .row_value {
	padding: 2px 3px;
	padding: 3px;
	/*background-color: #fff;*/
	/*font-weight: normal;*/
	
	/*font-size: 10px;*/
}
/* .oatgrid .row_value:hover {
	background-color: #443435; 	
	color: #FEFEFE;
}*/

#oatGridAnchor {
	/*background: url("icon_columns.png") no-repeat scroll 0 0 #F0F0F0;*/
	/*font-family: Verdana;
	color: #888;
	height: 16px;*/
	background: url("ic_item.png") no-repeat scroll 0 0 transparent;
	font-family: Verdana;
	font-size: 10pt;
	/*font-style: italic;*/
	color: black;
	padding-left: 20px;
    text-decoration: none;
	float: left;
}

.pivot_pag_div {
	width:398px;
	background: url("degrade_submenu_gris.png") repeat-x scroll 0 0 #D9DADB;
	font-family: Verdana;
	font-size: 12px;
	/*height: 44px;*/
	color: black;
	border-left: 1px solid #999;
	text-align: center;
	height: 36px;
	border-radius: 0 0 3px 3px;
	position: relative;
	/*float: left;*/
	box-shadow: 3px 3px 3px #999999;
	-webkit-box-shadow: 3px 3px 3px #999999;
}

.pivot_pag_div img{
	background-repeat: no-repeat;
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
}

.pivot_pag_div .pagefirst{
	background-image: url("PageFirst.png");
	padding: 9px 13px 13px 8px;
}
.pivot_pag_div .pagelast{
	background-image: url("PageLast.png");
	padding: 9px 13px 13px 8px;
}
.pivot_pag_div .pagenext{
	background-image: url("PageNext.png");
	padding: 9px 8px 13px 13px;
}
.pivot_pag_div .pageprev{
	background-image: url("PagePrevious.png");
	padding: 9px 8px 13px 13px;
}

.pivot_pag_div .pagefirst_ios{
	background-image: url("../images/firstBlue.png");
	background-position: center; 
	background-repeat: no-repeat;
	padding: 6px 35px 6px 8px;
	width: 16px;
	height: 16px;
}
.pivot_pag_div .pageprev_ios{
	background-image: url("../images/prevBlue.png");
	background-position: center; 
	background-repeat: no-repeat;
	padding: 6px 18px 6px 15px;
	width: 16px;
	height: 16px;
}

.pivot_pag_div .pagelast_ios{
	background-image: url("../images/lastBlue.png");
	background-position: center; 
	background-repeat: no-repeat;
	padding: 6px 35px 6px 8px;
	width: 16px;
	height: 16px;
}
.pivot_pag_div .pagenext_ios{
	background-image: url("../images/nextBlue.png");
	background-position: center; 
	background-repeat: no-repeat;
	padding: 6px 18px 6px 15px;
	width: 16px;
	height: 16px;
}

/*styles pop up*/
.oatfilterwindow{
	background: url("") repeat-x scroll 0 0 transparent;
   /* border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	position: absolute;*/
	font-family: Verdana;
	font-size: 10pt;
	color: #404040;
	padding: 0px;
}

.oatfilterwindowGrid{
	background: url("") repeat-x scroll 0 0 #FFFFFF;
    /*border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	position: absolute;*/
	font-family: Verdana;
	font-size: 10pt;
	color: #404040;
	padding: 0px;
	/*width: 200px;*/
}

.oatfilterwindow hr{
	background-color: #FFFFFF;
    color: #FFFFFF;
	width: 80%;
}

.oatfilterwindowGrid hr{
	background-color: #FFFFFF;
    color: #FFFFFF;
	width: 100%;
}

.promp-grid-button{
	width: 100%;
}

.close_popup_div{
	background-image: url("../images/RectWin_close.png");
	width: 14px;
	height: 13px;
	margin-left: 0px;
	margin-right: 3px;
	margin-top: 3px;
}

.oatfilterwindow > .close_popup_div{
	margin-left: 0px;
	margin-right: 3px;
}

.oatfilterwindowGrid > .close_popup_div{
	margin-left: 0px;
	margin-right: 3px;
}

.promp-pivot-button{
	width: 100%;
}

.pivot_popup_fix {
    height: 190px;
    overflow: auto;
	overflow-x: hidden;
}

.exportOptionsAnchor {
	background: url("ic_item.png") no-repeat scroll 0 0 transparent;
	float: right;
    height: 20px;
    width: 16px;
	padding-left: 6px;
	cursor: pointer;
}


.pivot_filter_div > span{
	float: left;
	padding-top: 2px;
}

#exportOptionsContainer input {
	margin-bottom: 6px;
}

.oatfilterwindow > div {
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.oatfilterwindowGrid > div {
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.first_popup_subdiv{
	/*margin-top: 18px;*/
}

.oatfilterwindow > .last_div_popup{
	margin-bottom: 18px;
}

.oatfilterwindowGrid > .last_div_popup{
	margin-bottom: 18px;
}

.check_item_img {
	background: url("checkmark.png") no-repeat scroll 0 0 transparent;
	padding-left: 20px;
	cursor: pointer;
	margin-bottom: 5px;
}

.check_item_img:hover {
	background-color: #EBEBEB;
}

.uncheck_item_img{
	background: url("uncheckmark.png") no-repeat scroll 0 0 transparent;
	padding-left: 20px;
	cursor: pointer;
	margin-bottom: 5px;
}

.uncheck_item_img:hover {
	background-color: #EBEBEB;
}

.oatfilterwindow input{
	font-family: Verdana;
	font-size: 10pt;
	color: #404040;
}

.oatfilterwindowGrid input{
	font-family: Verdana;
	font-size: 10pt;
	color: #404040;
}

.div_buttons_popup {
	margin-bottom: 13px;
	margin-top: 15px;
	text-align: center;
}

.div_buttons_popup .btn{
	margin-left: 1px;
    margin-right: 1px;
}
/*Buttons*/
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 3px 8px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}



.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
